<li>
	<p><%= show_faction(fleet) %></p>
	<p><%= show_points(fleet) %></p>
	<%= link_to show_name(fleet), fleet %>
	<%= link_to 'Edit', edit_fleet_path(fleet) %>
	<!-- add data: { confirm: "confirmation text" } if you want -->
	<%= link_to 'Delete', fleet, method: :delete %>
</li>