
<section class="fleet-info">
	<p><%= show_name(@fleet) %></p>
	<p><%= show_faction(@fleet) %></p>
	<p><%= show_points(@fleet) %></p>
</section>


<section class="battlegroup-info">
	<p>
	<% if can_add_battlegroups(@fleet) %>
		<%= link_to "+", new_user_fleet_battlegroup_path(@user.id, @fleet.id) %>
	<% end %>
	Flag Battlegroup
	<%= show_flag_count(@fleet) %>
	</p>
	<p>
	<% if can_add_battlegroups(@fleet) %>
		<%= link_to "+", new_user_fleet_battlegroup_path(@user.id, @fleet.id) %>
	<% end %>
	Vanguard Battlegroup
	<%= show_vanguard_count(@fleet) %>
	</p>
	<p>
	<% if can_add_battlegroups(@fleet) %>
		<%= link_to "+", new_user_fleet_battlegroup_path(@user.id, @fleet.id) %>
	<% end %>
	Line Battlegroup
	<%= show_line_count(@fleet) %>
	</p>
	<p>
	<% if can_add_battlegroups(@fleet) %>
		<%= link_to "+", new_user_fleet_battlegroup_path(@user.id, @fleet.id) %>
	<% end %>
	Pathfinder Battlegroup
	<%= show_pathfinder_count(@fleet) %>
	</p>
</section>

<ul class='battlegroup-list'>
	<%= render @battlegroups %>
</ul>

<!-- <section class="flag">
</section>

<section class="vanguard">
</section>

<section class="line">
</section>

<section class="pathfinder">
</section> -->