
<section class="fleet-info">
	<p><%= show_name(@fleet) %></p>
	<p><%= show_faction(@fleet) %></p>
	<p><%= show_points(@fleet) %></p>
</section>

<%= link_to "Add Flag", new_user_fleet_battlegroup_path(@user.id, @fleet.id) %>
<%= link_to "Add Vanguard", new_user_fleet_battlegroup_path(@user.id, @fleet.id) %>
<%= link_to "Add Line", new_user_fleet_battlegroup_path(@user.id, @fleet.id) %>
<%= link_to "Add Pathfinder", new_user_fleet_battlegroup_path(@user.id, @fleet.id) %>

<ul class='battlegroup-list'>
	<%= render @battlegroups %>
</ul>

<!-- <section class="flag">
</section>

<section class="vanguard">
</section>

<section class="line">
</section>

<section class="pathfinder">
</section> -->