
<li>
	<%= link_to ship_name(group), user_fleet_battlegroup_group_path(user, fleet, battlegroup, group) %>
	<%= link_to '-', edit_user_fleet_battlegroup_group_path(user, fleet, battlegroup, group) %>
	<%= size(group) %>
	<%= link_to '+', edit_user_fleet_battlegroup_group_path(user, fleet, battlegroup, group) %>
	<%= display_cost(group) %>
	<%= link_to "-X-", user_fleet_battlegroup_group_path(user, fleet, battlegroup, group), method: :delete %>
</li>

<!-- NOTE:  Redirects to fleet show from both fleet & battlegroup show pages -->