<p>battlegroup show!!!</p>

<%= link_to "Back to Fleet", user_fleet_path(@user, @fleet) %>

<!-- CLEAN IN HELPER -->
<p> <%= display_battlegroup_name(@battlegroup) %> Battlegroup </p>

<!-- need methods for each type to check IF ALLOWED and IF MAX -->
<%= render 'groups/tonnages' %>

<ul class='group-list'>
<% @battlegroup.groups.each do |group| %>
	 <%= render partial: 'groups/group', locals: { user: @user, fleet: @fleet, battlegroup: @battlegroup, group: group }  %> 
<% end %>
</ul>	

<%= link_to "Delete Battlegroup", user_fleet_battlegroup_path(@user, @fleet, @battlegroup), method: :delete %>