<section class='battlegroup-show'>
	<%= link_to "<<", user_fleet_path(@user, @fleet) %>
	<p> <%= display_battlegroup_name(@battlegroup) %> Battlegroup </p>
	<p>
		Total Groups: <%= show_group_count(@battlegroup) %>
	</p>
</section>

<%= render 'groups/tonnages' %>

<ul class='group-list'>
<% @battlegroup.groups.each do |group| %>
	 <%= render partial: 'groups/group', locals: { user: @user, fleet: @fleet, battlegroup: @battlegroup, group: group }  %> 
<% end %>
</ul>	

