<p>battlegroup show!!!</p>

<%= link_to "Back to Fleet", user_fleet_path(@user, @fleet) %>

<!-- CLEAN IN HELPER -->
<p> <%= @battlegroup.battlegroup_type.name %> Battlegroup </p>

<!-- need methods for each type to check IF ALLOWED and IF MAX -->
<%= link_to "Superheavy", new_user_fleet_battlegroup_group_path(@user, @fleet, @battlegroup, tonnage: '4') %>

<%= link_to "Heavy", new_user_fleet_battlegroup_group_path(@user, @fleet, @battlegroup, tonnage: '3') %>

<%= link_to "Medium", new_user_fleet_battlegroup_group_path(@user, @fleet, @battlegroup, tonnage: '2') %>

<%= link_to "Light", new_user_fleet_battlegroup_group_path(@user, @fleet, @battlegroup, tonnage: '1') %>

<ul class='group-list'>
<!-- NOW NEEDS LOCALS -->
	<%= render @battlegroup.groups %>
</ul>

<%= link_to "Delete Battlegroup", user_fleet_battlegroup_path(@user, @fleet, @battlegroup), method: :delete %>