<!DOCTYPE html>
<html>
  <head>
    <title>Dropfleet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
  	<%= link_to "Home", root_path %>
  	<%= link_to "Login", login_path %>
  	<%= link_to "Logout", logout_path, method: 'delete' %>
  	<%= link_to "Sign up", new_user_path %>
  </header>
	<%= render 'layouts/flash' %>
  <body>
    <%= yield %>
  </body>
  <%= debug(params) if Rails.env.development? %>
</html>
